<%- include('header-form/header-form'); -%>
<div id="flex">
    <h1>Edit your Question</h1>
    <a href="/question/<%= question._id %>">Back</a>
</div>
    <form class="form-style-9 form1" method="POST" action="/edit/question/<%= question._id %>">
        <ul>
            <li>
                <label for="title">Question:</label>
            </li>
            <li>
                <input class="field-style field-full align-none" type="text" id="title" name="title" value="<%= question.title %>" required>
            </li>
            <li>
                <label for="text">Description:</label>
            </li>
            <li>
                <textarea class="field-style text" id="text" name="text" required>
                    <%= question.text %>
                </textarea>
            </li>
            <li>
                <input type="submit" value="Submit">
            </li>
        </ul>
    </form>

    <%- include('components/footer'); -%>