<%- include('components/header'); -%>

    <a href="/allquestions">Back</a>
    <h1>
        <%= question.title %>
    </h1>
    <p>
        <%= question.text %>
    </p>

    <% if(question.owner._id.toString()===user._id.toString()) { %>
        <a href="/edit/question/<%= question._id %>">Edit</a>
        <form class="qform" method="POST" action="/question/<%= question._id %>/delete" style="display:inline">
            <button type="submit">Delete</button>
        </form>
        <% } %>

            <br>
            <form action="/question/<%= question._id %>/comment?userId=<%= user._id %>" method="POST">
                <input type="hidden" name="postId" value="<%= question._id %>">
                <textarea name="comments" placeholder="Add a comment"></textarea>
                <button type="submit">Add Comment</button>
            </form>

            <!-- Display comments -->
            <div class="comments">
                <% question.comments.forEach(function(comment) { %>
                    <div class="comment">
                        <p>
                            <%= comment.comments %>
                        </p>

                        <p><strong>Comment added by: <%= comment.owner.username %></strong></p>
                    </div>
                    <% }); %>
            </div>


            <%- include('components/footer'); -%>